<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptic - Trade</title>
    <link rel="icon" type="image/x-icon" href="static/Images/fevicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/trade_page.css') }}"/>
  </head>
  
  <body>
    <header>
      <img src="static/Images/logo.png" alt="cryptic logo" style="width: 200px;">
      <nav class="navigation">
        <a href="#">Trade</a>
        
        <a href="{{ url_for('home_page') }}" target="_blank">Testimonials</a>
        <a href="{{ url_for('home_page') }}" target="_blank">Featured In</a>
        <a href="{{ url_for('about_us') }}" target="_blank">About Us</a>
      </nav>
    </header>
    <div class="vid">
      <video autoplay muted loop id="myVideo">
        <source
          src="static/Videos/Free motion background Video - Particles Animation 4K Loop.mp4"
          type="video/mp4"
        />
      </video>
      <h1 >Cryptic: Your Journey to Financial Freedom</h1>
    </div>

    <div class="coin-list">
      <h1>More than 2000 enlisted coins...</h1>
      <img src="static/Images/coin-list.png" />
    </div>
<!-- Avilable coin list ----------------------------------------------------------------------------->
    
    <div class="d-grid gap-1 col-6 mx-auto coins-graph">
      <button class="c_butt" type="button">
        <div class="row">
          <div class="col-2"></div>
          <div class=" col-1 mb-1">
                <img src="static/trade_page_img/Bitcoin.svg.png" alt="btc_logo" class="img-fluid">
          </div>
         
          <div class="col-1">
            <h3>BTC</h3>
            <h6>Bitcoin</h6>  
          </div>
          <div class="col-8 ps-5">
            <h4>234000 INR</h4>
            <h5>1.12%</h3>
          </div>
        </div>
      </button>
      <button class="c_butt" type="button">

        <div class="row">
          <div class="col-2"></div>
          <div class=" col-1 mb-1">
                <img src="static/trade_page_img/Bitcoin.svg.png" alt="btc_logo" class="img-fluid">
          </div>
         
          <div class="col-1">
            <h3>BTC</h3>
            <h6>Bitcoin</h6>  
          </div>
          <div class="col-8 ps-5">
            <h4>234000 INR</h4>
            <h5>1.12%</h3>
          </div>
        </div>
      </button>
      <button class="c_butt" type="button">
        <div class="row">
          <div class="col-2"></div>
          <div class=" col-1 mb-1">
                <img src="static/trade_page_img/Bitcoin.svg.png" alt="btc_logo" class="img-fluid">
          </div>
         
          <div class="col-1">
            <h3>BTC</h3>
            <h6>Bitcoin</h6>  
          </div>
          <div class="col-8 ps-5">
            <h4>234000 INR</h4>
            <h5>1.12%</h3>
          </div>
        </div>
      </button>
      <button class="c_butt" type="button">
        <div class="row">
          <div class="col-2"></div>
          <div class=" col-1 mb-1">
                <img src="static/trade_page_img/Bitcoin.svg.png" alt="btc_logo" class="img-fluid" >
          </div>
         
          <div class="col-1">
            <h3>BTC</h3>
            <h6>Bitcoin</h6>  
          </div>
          <div class="col-8 ps-5">
            <h4>234000 INR</h4>
            <h5>1.12%</h3>
          </div>
        </div>
      </button>
    </div>

<!-- Avilable coin list ----------------------------------------------------------------------------->
    <footer class="footer">
      <div class="copy">
        <img src="static/Images/logo.png" alt="cryptic logo" style="width: 300px;padding: 20px;">
        <p>Copyright © 2023 by Cryptic, Inc. All rights reserved.</p>
      </div>
      <div class="account">
        <h3>Account</h3>
        <ul>
          <li>Create account</li>
          <li>Sign in</li>
          <li>iOS app</li>
          <li>Android app</li>
        </ul>
      </div>
      <div class="company">
        <h3>Company</h3>
        <ul>
          <li>About Cryptic</li>
          <li>For Business</li>
          <li>Stock options</li>
          <li>Career</li>
        </ul>
      </div>
      <div class="resources">
        <h3>Resources</h3>
        <ul>
          <li>Security</li>
          <li>Help Center</li>
          <li>Privacy and Terms</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
