
html {
  font: 16px;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
  /* background-image:url("44564588-60ea-4833-8032-099b1f98d425.png"); */
  background:linear-gradient(#0e0216,#00005C, #C060A1,#F0CAA3);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

}
:root {
--primary-color: #0e0216;
--secondary-color: #00005C;
--tertiary-color: #C060A1;
--ternary-color: #F0CAA3;
}

/******************************************************************************************************
Header & Navigation Bar
*******************************************************************************************************/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.navigation a {
  position: relative;
  text-decoration: none;
  color: #f0caa3;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: #f0caa3;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btn-login {
  width: 120px;
  height: 40px;
  background: transparent;
  border: 2px solid #f0caa3;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #f0caa3;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.3s;
}

.navigation .btn-login:hover {
  background: #f0caa3;
  color: #0e0216;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent background */
    z-index: 1;
}


.popup-content {
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 50%;
    height:50%;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #080808;
}

/******************************************************************************************************
Containers
*******************************************************************************************************/

.left-container {
  background:linear-gradient(#f0caa3,#00005C);
  margin-top: 50px;
  width: 20%; 
  min-width: 150px; 
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 10%;
  left: 6%;
  height: 50%; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; /* Align content to the top */
}

.profile {
  margin-top: 20px;
  text-align: center;
}

.profile img {
  border-radius: 50%; /* Make the profile image round */
  width: 70px; /* Adjust the width of the profile image */
  height: 70px; /* Adjust the height of the profile image */
}

.credentials {
  margin-top: 10px;
  text-align: center;
}


.right-div {
  
  flex: 1;
  position:relative;
  margin-top: 105px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 95px; 
}
table {
        border-collapse: separate;
        border-spacing: 10px;}
th, td {
        padding: 10px;}
.row-div {
    flex: 1;
    padding: 1px;
    top: 20%;
    left: 6%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 33%; 
  margin-right: 3%; 
}

.row-div + .row-div {
    margin-left: 10px;
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
  header {
    padding: 20px 10%; /* Adjust padding for desktop */
  }

  .navigation a {
    margin-left: 40px; /* Restore margin for desktop */
  }

  .navigation .btn-login {
    margin-left: 40px; /* Restore margin for desktop */
  }
}
/* Tablet Styles */
@media screen and (max-width: 1023px) {
  header {
    padding: 20px 5%; /* Adjust padding for tablet */
  }

  .navigation a {
    margin-left: 30px; /* Adjust margin for tablet */
  }

  .navigation .btn-login {
    margin-left: 30px; /* Adjust margin for tablet */
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  header {
    padding: 20px 5%; /* Adjust padding for mobile */
  }

  .navigation a {
    margin-left: 15px; /* Adjust margin for mobile */
    font-size: 1em; /* Adjust font size for mobile */
  }

  .navigation .btn-login {
    margin-left: 15px; /* Adjust margin for mobile */
    font-size: 1em; /* Adjust font size for mobile */
  }
}






